.icon-heart:hover {
    fill: var(--accent-600);
    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.icon-heart[data-type="filled"] {
    fill: var(--accent-600);
}

.icon-bookmark:hover {
    fill: var(--accent-600);
    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.icon-bookmark[data-type="filled"] {
    fill: var(--accent-600);
}