.tag {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--accent-300, #EDDEF6);
    width: fit-content;

    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
}