.catalog-detail-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.catalog-detail-header-poster {
    background-color: var(--accent-400);
    width: 100%;
    height: 240px;
}

.catalog-detail-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    margin: 0 12px;
}

.catalog-trailer {
    width: 100%;
    max-width: 600px;
    align-self: stretch;
}

.catalog-poster {
    margin-top: -120px;
    margin-left: 12px;
}

@media screen and (min-width: 640px) {
    .catalog-poster {
        margin-left: 32px;
    }

    .catalog-detail-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
        margin: 0 32px;
    }
}
