:root {
    --primary-100: #424549;
    --primary-200: #36393E;
    --primary-300: #282B30;
    --primary-400: #1E2124;

    --accent-100: #FBF7FD;
    --accent-200: #F5EDFA;
    --accent-300: #EDDEF6;
    --accent-400: #DFC4EE;
    --accent-500: #CC9EE2;
    --accent-600: #BD84D7;
    --accent-700: #A35BC2;
    --accent-800: #8C48A8;
    --accent-900: #753F8A;
    --accent-1000: #5F346F;
    --accent-1100: #421B50;

    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    --error-background: #FEE2E2;
    --error-foreground: #B91C1C;

    --info-background: #dbeafe;
    --info-foreground: #1d4ed8;

    --success-background: #dcfce7;
    --success-foreground:#15803d;
}

/* @font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-200-normal.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-200-italic.ttf);
    font-weight: 200;
    font-style: italic;
} */
@font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-400-normal.woff);
    font-weight: 400;
    font-style: normal;
}
/* @font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-400-italic.ttf);
    font-weight: 400;
    font-style: italic;
} */
/* @font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-600-normal.ttf);
    font-weight: 600;
    font-style: normal;
} */
/* @font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-600-italic.ttf);
    font-weight: 600;
    font-style: italic;
} */
/* @font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-800-normal.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/karla/karla-latin-800-italic.ttf);
    font-weight: 800;
    font-style: italic;
} */

* {
    inset: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla';
    font-weight: 400;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--primary-300);
}

h2 {
    color: var(--accent-800);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; 
}

h3 {
    color: var(--accent-800);
    font-weight: 600;
    font-size: 1rem;
}

h4 {
    color: var(--accent-800, #8C48A8);
}

p {
    color: var(--slate-700, #334155);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p.subtitle {
    color: var(--slate-400, #94A3B8);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--primary-300);
}

.brand__title {
    font-size: 1.5rem;
    color: var(--accent-800);
    font-weight: 800;
}

.span-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

main,
.container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 80rem;
    width: 100%;
    margin: 3rem auto;
    position: relative;
    z-index: 10;
    gap: 2rem;
}

.alert-error {
    display: flex;
    background-color: var(--accent-300);
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.navbar {
    top: 1rem;
    position: sticky;
    padding: 0 1rem;
    z-index: 99;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: 80rem;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(8px);
    box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
    border-radius: 0.4rem;
    z-index: 999px;
    position: relative;
}

.navbar-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    display: none !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.content .pagination {
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
}

.poster {
    transition: top ease 1s;
    position: relative;
    height: 8rem;
    width: 5.4rem;
    object-fit: cover;
    border-radius: 0.6rem;
    box-shadow: rgba(104, 104, 104, 0.45) 5px 2.4px 5px;
}

.tag {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--accent-300, #EDDEF6);
    width: fit-content;

    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
}

@media screen and (min-width: 500px) {
    .poster {
        height: 10rem;
        width: 7.4rem;
    }
}

.avatar {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2.5rem;
    object-fit: cover;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


@media screen and (min-width: 640px) {
    .catalog-poster {
        height: 10rem;
        width: 7.4rem;
    }
  }