

.user-profile {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    height: 595px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    gap: 40px;
    display: flex;
}

.images {
    align-self: stretch;
    height: 462px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.banner {
    position: relative;
    align-self: stretch;
    height: 400px;
}

.profile-pic {
    position: absolute;
    top: 225px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.profile-img {
    width: 160px;
    height: 222px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.profile-info {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex
}

.profile-text {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.profile-type {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.type-circle {
    padding-left: 10px;
    padding-right: 10px;
    background: var(--slate-300);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex
}

.type-name {
    color: var(--slate-700);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.year-created {
    text-align: center;
    color: var(--slate-400);
    font-size: 12px;
    font-weight: 400
}

.positioning {
    padding: 5px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex
}


