.container__create-watchlist {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container__form {
    width: 100%;
    flex-grow: 1;
}

.form__create-watchlist {
    max-width: 50rem;
}

.search__title {

}

.form-watchlist-actions {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.watchlist-items {
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.btn__add-item {
    min-width: 18rem;
}

.btn__save {
    min-width: 18rem;
    width: 100%;
}

.form-search {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.4rem;
}

.search__input {
    flex-grow: 1;
}
