article.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    align-self: stretch;
}

article.header .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

article.header .container-subtitle {
    display: flex;
    align-items: center;
    gap: 4px;
}

article.header .container-button {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-btn-love {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

button#show-more {
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    align-self: stretch;
}

.watchlist-detail__button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.watchlist-detail__button-container .btn-icon {
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
}

.watchlist-detail__button-container .btn-icon:hover {
    background-color: var(--accent-300);
    transition: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

@media screen and (min-width: 640px) {
    article.header {
        flex-direction: row;
        align-items: flex-start;
    }

    .watchlist-detail__button-container {
        bottom: 40px;
        right: 3rem;
        gap: 10px;
    }

    article.header .container-button {
        justify-content: flex-end;
    }

    article.header .detail {
        width: 80%;
    }
}
