.search-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    align-self: stretch;
}

.search-filter>div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.search-filter .visibility {
    display: flex;
    align-items: center;
    gap: 4px;
}

.visibility .selected {
    background-color: var(--accent-300);
}

.no-item__container a {
    text-decoration: underline;
    color: var(--accent-800);
}