.search-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.search-filter .visibility {
    display: flex;
    align-items: center;
    gap: 4px;
}

.visibility .selected {
    background-color: var(--accent-300);
}